@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.attribution {
    font-size: 11px;
    text-align: center;
}
.fraunces-regular {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
body {
    margin: 0;
    font-size: 16px;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
}
.product-card {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 3rem auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
.product-image {
    flex: 1;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
}
.product-details {
    flex: 1;
    padding: 30px;
}
.title h1 {
    color: hsl(212, 21%, 14%);
    line-height: 2rem;
}
.category span {
    letter-spacing: 0.3rem;
}
.description p {
    line-height: 1.4rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.price-card {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.price-card .price {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 2.5rem;
}
.cart-btn button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    transition: background-color 0.25s ease;
}

.cart-btn button:hover {
    background-color: hsl(158, 42%, 18%);
    cursor: pointer;
}
.btn-icon {
    width: 10px;
    height: 10px;
}

@media (max-width: 767px) {
    .product-card {
        flex-direction: column;
        margin: 10px;
    }
    .product-image {
        background-image: url("./images/image-product-mobile.jpg");
        flex: none;
        height: 400px;
        border-radius: 10px 10px 0px 0px;
    }
    .category span {
        font-size: 0.8rem;
    }
    .price-card .price {
        font-size: 1.9rem;
    }
}
